{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}

{% block content %}

<div class="profile">
    <div class="cover">
        
        <div class="user__profile">
            <img src="{{user.profile.avatar.url}}" alt="{{user.profile.name}}" class="avatar">
            <h3 class="user_display_name light-text m0 p5">{{user.profile.name}}</h3>
        </div>
        {% if request.user == user %}
        <a href="{% url 'update-profile' %}" class="light-text small-text m0 link-text">@{{user.username}}</a>
        {% else %}
        <h2 class="light-text small-text m0 link-text">@{{user.username}}</h2>
        {% endif %}
    </div>
    <div class="profile-container">
        {% include 'base/components/topics.html' %}
        <section class="rooms-container">
            <h4 class="title light-text-2 m0 p5" >Rooms</h4>
            {% include 'base/components/feed.html' %}
        </section>
        {% include 'base/components/activities.html' %}
    </div>
</div>

{% endblock %}