/* index page styles */

.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

.home-container > * {
  padding-top: 20px;
}

.rooms-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room_count {
  margin: 0;
  color: var(--subtle-light-text-color);
}

.rooms-header .room_count > span {
  color: var(--primary-contrast-color);
  margin-right: 3px;
}

.btn-new {
  background-color: var(--primary-bg-hue);
}
