.cover {
  display: grid;
  place-items: center;
  padding: 10px 20px;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

.profile-container h4.title {
  font-weight: 400;
}

.user__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user__profile > .avatar {
  height: 120px;
  width: 120px;
}

.user_display_name {
  font-size: 0.9rem;
}
